<nav class='navbar'>
    <div class='navbar-brand'>MR.COFFEE ORGANIZER</div>
    <div class='navbar-links'>
        <ul>
            <li><a href='../homepage'>Home</a></li>
            <li><a href='../new'>New schedule</a></li>
            <li><a href='../logout'>Log out</a></li>
        </ul>
    </div>
</nav>
