<section class='login-container col-md-5'>
    <form id='login-form' method='' action=''>
        <div class='container login-cont col-md-7'>
            <div class='row login-imgrow'>
                <img src='./img/coffee_heart.jpg' class='login-img'>
            </div>
            <div class='row'>
                <h2>WELCOME!</h2>
            </div>
            <div class='row'>
                <label for='email_log'>Email</label>
                <input type='email' name='email_log'>
            </div>
            <div class='row'>
                <label for='password_log'>Password</label>
                <input type='text' name='password_log'>
            </div>
            <div class='row col-sm-4 login-btn'>
                <input type='submit' value="Log in">
            </div>
            <div class='row'>
                <p>Not a member yet?
                    <a class='signup-item' href='/signup'>
                        Sign up!
                    </a>
                </p>
            </div>
        </div>
    </form>
</section>
